main {
    flex: 1;
}

.contenedorerror {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.contenedorerror img {
    border-radius: 2%;
    height: 400px;
}

article {
    align-content: center;
    width: 600px;
    height: 400px;
}

h3 {
    padding-bottom: 2%;
}

h4 {
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: South-Park;
    color: #5f3620 ;
}

.contenedorboton {
    display: flex;
    align-content: end;
    background-color: #5f3620;
    border: 2px solid #c7b69f;
    transition: font-size 0.2s ease;
    padding: 1%;
    border-radius: 10px;
}

.contenedorboton a {
    margin: 3px;
}

.contenedorboton a:hover {
    font-size: 1rem;
    margin-top: 5px;
    text-decoration: 1px underline;
}

@media screen and (max-width: 900px) { /*TABLET*/

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10%;
        padding-bottom: 20%;
        flex: 1;
    }

    .contenedorerror img {
    border-radius: 2%;
    height: 200px;
}

article {
    align-content: center;
    width: 500px;
    height: 400px;
}
}

@media screen and (max-width: 500px) { /*TELEFONO*/

    main {
        flex: 1;
    }

    article {
        width: 400px ;
    }

    .contenedorerror img {
        height: 200px;
    }
}

@media screen and (max-width: 300px) { /*TELEFONO 2*/ 

        article {
                width: fit-content;
        }

        main {
                flex: 1;
        }

        footer {
                width: 100%;
        }

        .articulofooter {
                width: fit-content;
                text-align: center;
        }

        .contenedorerror img {
            height: 100px;
    }

        .Logo {
                width: 150px;
        }

}
