article {
    align-content: center;
    width: 600px;
    height: 400px;
}

h2 {
    text-align: center;
}

.contenedorkenny {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedorboton {
    display: flex;
    align-content: end;
    background-color: #5f3620;
    border: 2px solid #c7b69f;
    transition: font-size 0.2s ease;
    padding: 1%;
    border-radius: 10px;
}

.contenedorboton a {
    margin: 3px;
}

.contenedorboton a:hover {
    font-size: 1rem;
    margin-top: 5px;
    text-decoration: 1px underline;
    
}

@media screen and (max-width: 900px) { /*TABLET*/
    
    main {
        
        justify-content: center;
        align-items: center;
        padding-top: 10%;
        padding-bottom: 20%;
    }

    article {
        width: 500px;
        height: 300px;
    }

    .contenedorkenny img {
        height: 200px;
    }

}

@media screen and (max-width: 500px) { /*TELEFONO*/

    main {
        flex: 1;
    }

    article {
        width: 400px ;
    }

    .contenedorkenny img {
        height: 200px;
    }
}
