article {
    width: 900px
}

label {
    padding-top: 1%;
    font-size: 18px;
}

.segundofooter {
    margin-top: 0;
}

.menu_hamburguesa {
    display: none;
}

fieldset label {
    display: flex;
}

input {
    display: flex;
}

.contenedorformgeneral {
    padding: 3%;
}

.contenedorform1 {
    display: flex;
    flex-direction: row;
    font-family: South-Park;
    color: #c7b69f;
    justify-content: center;
    gap: 15px;
}

.contenedorform1 input {
    padding: 1%;
    border: 2px solid #5f3620;
    border-radius: 20px;
}

.contenedorform2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: South-Park;
    color: #c7b69f;
    gap: 5px;
}

.contenedorform2 input {
    align-content: center;
    width: 60%;
    padding: 1%;
    border: 2px solid #5f3620;
    border-radius: 20px;
}

.contenedorform2 textarea {
    width: 80%;
    height:200px;
    padding: 1%;
    border: 2px solid #5f3620;
    border-radius: 20px;
    font-family: sans-serif;
}

.contenedorform3 {
    display: flex;
    justify-content: end;
    margin-top: 1%;
}

.contenedorform3 input {
    padding: 1%;
    color: #c7b69f;
    background-color: #5f3620;
    border: 1px solid #c7b69f;
    border-radius: 10px;
    cursor: pointer;
}

fieldset {
    border: 0;
}

@media screen and (max-width: 900px) { /*TABLET*/
    
    main {
        padding-top: 10%;
        padding-bottom: 5%;
        max-width: 900px;
        flex: 1;
    }

    article {
        width: 500px;
    }

    fieldset label {
        display: none;
    }

    .contenedorformgeneral {
        padding-top: 2%;
        max-width: 800px;
        margin-left: 5%;
        margin-right: 5%;
        padding-bottom: 1%;
    }

    .contenedorform2 textarea {
        height:100px;
        width: 60%;
    }

    .contenedorform1 {
        padding-bottom: 1%;
    }

    .contenedorform3 {
        margin-top: 0%;
    }

    .contenedorform1 input {
        padding: 2%;
    }

    .contenedorform2 input {
        padding: 2%;
    }

    .contenedorform3 input {
        padding: 2%;
    }
}

@media screen and (max-width: 500px) { /*TELEFONO*/

    main {
        flex: 1;
    }

    article {
        width: 450px;
    }
    .contenedorformgeneral {
        padding-top: 2%;
        max-width: px;
        margin-left: 5%;
        margin-right: 5%;
        padding-bottom: 1%;
    }

        .contenedorform2 textarea {
        height: 100px;
        width: 100%;
        padding: 3%;
    }
}