.titulomedio {
    margin-top: 1%;
}

.seccionfinal1 {
    display: flex;
    border: none;
    align-items: center;
    gap: 20px;
}

.articuloderecha {
    height: fit-content;
}

@media screen and (max-width: 900px) { /*TABLET*/  
    .contenedorderecho img {
        width: 400px;
        height: auto;
    }
}

@media screen and (max-width: 500px) { /*TELEFONO*/  
    .contenedorderecho img {
        width: 500px;
        height: auto;
    }

    .articuloderecha {
        border-radius: 0%;
    }

    article {
        border-radius: 0%;
    }
}

@media screen and (max-width: 300px) { /*TELEFONO 2*/ 

        article {
                width: fit-content;
        }

        main {
                flex: 1;
        }

        footer {
                width: 100%;
        }

        .articulofooter {
                width: fit-content;
                text-align: center;
        }

        .Logo {
                width: 150px;
        }

}