html, body {background-color:#393939;
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        height: 100%;}
h1 {margin: 0%;}
main {flex: 1;}
footer {margin-top: auto;}

.headerdemas {text-align: left;
        background-color:#5f3620 ;}

.navdemas {background-color:#a27b66;
        text-align: center;
        padding: 10px;
        color: rgb(0, 0, 0);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 18px;
        border: solid #5f3620;
        border-top: #ffffff;
        border-left: hidden;
        border-right: hidden;}

a {color: white;}

.secciondemas {background-color: rgb(36, 36, 36);
        padding: 15px;
        margin: 20px;
        border: solid #5f3620;
        border-radius: 20px;}

.articulodemas {text-align: center;
            padding: 10px;}

.footerdemas {text-align: center;
        color: white;
        font-size: smaller;
        font-family: Arial, Helvetica, sans-serif;
        background-color: black;
        padding: 5px;
        border: solid#5f3620;
        border-left: hidden;
        border-right: hidden;
        border-bottom: hidden;}

.parrafodemas {color: white;
        font-size: 20px;
        padding: 15px;
        margin: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: justify;}

.parrafodemas2 {color: white;
        font-size: 16px;
        padding: 5px;
        margin: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: justify;}

.titulodemas {color:#a27b66 ;
        font-family:Verdana, Geneva, Tahoma, sans-serif ;
        font-size: 23px;
        text-decoration: underline;
        text-decoration-color: #668aa2 ;
        margin: 5px;}

.titulodemas2 {color:#668aa2 ;
        font-family:cursive ;
        font-size: 23px;
        margin: 10px;
        padding: 5px}








.contenidodesordenado {color: white;
        font-size: 16px;
        padding: 5px;
        margin: 5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: justify;}

.contenidodesordenado2 {color: white;
        font-size: 18px;
        padding: 20px;
        margin: 5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: justify;}

.secciondemas2 {background-color: rgb(36, 36, 36);
        padding: 15px;
        margin: 20px;
        border: solid #5f3620;
        width: 70%;
        border-radius: 20px;}

.imgdemas {text-align: right;
        margin: 70px;}
.imgdemas2 {text-align: left;
        margin: 70px;}

.hrdemas {width: 80%;
        border: 3px solid #a27b66;}

.asidedemas {width: 400px;                           
        margin: 20px;              
        padding: 15px;
        background-color: rgb(36, 36, 36); 
        border: solid #5f3620; 
        border-radius: 20px}














.cuadrodtexto {background-color: white;
        border: solid #5f3620;
        border-radius: 20px;
        padding: 15px;
        margin: 10px;
        width: 40%;}

.cuadrodtexto2 {background-color: white;
        border: solid grey;
        margin: 10px;
        width: 70%;
        border-top: hidden;
        border-left: hidden;
        border-right: hidden;
        padding: 0px;}

.parrafocuadrodtexto {color: grey;
        font-size: 14px;
        padding: 5px;
        margin: 0px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: justify;}

.titulocdt {color: rgb(0, 0, 0);
        font-family: cursive ;
        font-size: 34px;
        margin: 0px;
        padding: 5px;}
.imgdemas3 {margin: 20px;
        padding: 5px;}

        