@font-face {
        font-family: "South-Park";
        src: url(../Fuentes/south\ park.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {/*COLOR DE LA PAGINA*/
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-color: #c7b69f;
        height: 100%;
        padding-top: 8%;    
}

nav {/*FONDO DE BARRA DE NAVEGACION*/
        background-color:#5f3620;
        position: fixed;
        display: flex;
        justify-content: space-between;
        top: 0%;
        left: 0%;
        right: 0%;
        z-index: 10;
        }

.Logoprincipal {/*LOGO DE SOUTH PARK*/
        padding: 2% 7.5%;
}

ul {/*LINKS DE EL NAV*/
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 2% 7.5%;
}

a {/*ESTILO LINKS*/
        color: white;
        text-decoration: none;
        font-family: South-Park;
        font-size: 12px;
        transition: font-size 0.3s ease;
}

li:hover a {/*ANIMACION NAV*/
        color:#c7b69f;
        font-size: 1rem;
}

main { /*TAMAÑO DEL CONTENIDO*/
        max-width: 1300px;
        max-height: fit-content;
        margin:auto;
}

section {/*CONTENEDORES EN COMLUMNA*/
        flex: auto;
        display: flex;
        align-content: space-between;
        margin-top: 1%;
}

article {/*CARACTERISTICAS DE LOS ARTICULOS*/
        background-color: #a27b66;
        border: 3px solid #5f3620;
        padding: 2% 2% 2% 2% ;
        text-align: justify;
        padding: 3% 3% 3%;
        width: 100%;
        width: fit-content;
        border-radius: 2%;
}

p {/*DISEÑO TEXTO*/
        font-size: 90%; 
        padding: 1% 1% 1%;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {/*DISEÑO TITULOS */
        font-size: 120%;
        color: #5f3620;
        text-decoration: underline #3a6a8a;
        font-family: South-Park;
}

footer {/*DISEÑO FOOTER Y TAMAÑOS*/
        min-height: 20px;
        background-color: rgb(57, 57, 57);
        color: rgb(255, 255, 255);
        font-family: South-park;
        padding-top: 1%;
        padding-bottom: 1%;
        text-align: center;
        font-size: 10px;
        margin-top: 2%;
        border-top: 3px solid black;
}

.contenedorizquierdo {
        border-right: 0px;
        border-bottom-right-radius: 0%;
        border-top-right-radius: 0%;
        
}

.contenedorderecho {
        border-left: 0px;
        border-bottom-left-radius: 0%;
        border-top-left-radius: 0%;
}

.contenedorderecho {
        transition: transform 0.4s ease;
}

.contenedorderecho img:hover {/*EFECTO IMG*/
        transition: 0.4s;
        transform: scale(1.03);
        border: 3px solid #c7b69f;
        border-radius: 3%;    
}
