@font-face {
        font-family: "South-Park";
        src: url(../Fuentes/south\ park.ttf);
}

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
}

body {/*COLOR DE LA PAGINA*/
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-color: #c7b69f;
        height: 100%;
        padding-top: 8%;  
}

nav {/*FONDO DE BARRA DE NAVEGACION*/
        background-color:#5f3620;
        position: fixed;
        display: flex;
        justify-content: space-between;
        top: 0%;
        left: 0%;
        right: 0%;
        z-index: 10;
        }

.Logoprincipal {/*LOGO DE SOUTH PARK*/
        padding: 2% 7.5%;
}

ul {/*LINKS DE EL NAV*/
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 2% 7.5%;
}

a {/*ESTILO LINKS*/
        color: white;
        text-decoration: none;
        font-family: South-Park;
        font-size: 12px;
        transition: font-size 0.3s ease;
}

li:hover a {/*ANIMACION NAV*/
        color:#c7b69f;
        font-size: 1rem;
}

main { /*TAMAÑO DEL CONTENIDO*/
        max-width: 1300px;
        max-height: fit-content;
        margin:auto;
        margin-bottom: 2%;
}

section {/*CONTENEDORES EN COMLUMNA*/
        flex: auto;
        display: flex;
        align-content: space-between;
}

article {/*CARACTERISTICAS DE LOS ARTICULOS*/
        background-color: #a27b66;
        border: 3px solid #5f3620;
        text-align: justify;
        padding: 2% 2% 2%;
        width: 100%;
        width: fit-content;
        border-radius: 2%;
}

p {/*DISEÑO TEXTO*/
        font-size: 90%; 
        padding: 1% 1% 1%;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {/*DISEÑO TITULOS */
        font-size: 120%;
        color: #5f3620;
        text-decoration: underline #3a6a8a;
        font-family: South-Park;
        padding-bottom: 1.5%;
        padding-top: 1.5%;
}

h3 {/*SUBSTITULOS*/
        font-family: South-park;
        color:#c7b69f;  
}

footer {/*DISEÑO FOOTER Y TAMAÑOS*/
        background-color: rgb(65, 64, 64);
        display: flex;
        justify-content: space-evenly;

}

.contenedorizquierdo {/*ESTRUCTURA*/
        border-right: 0px;
        border-bottom-right-radius: 0%;
        border-top-right-radius: 0%;
}

.contenedorderecho {/*ESTRUCTURA*/
        padding: 2% 2%;
        border-left: 0px;
        border-bottom-left-radius: 0%;
        border-top-left-radius: 0%;
        transition: transform 0.4s ease;
}

.contenedorderecho img:hover {/*EFECTO IMG*/
        transition: 0.4s;
        transform: scale(1.03);
        border: 3px solid #c7b69f;
        border-radius: 3%;    
}

.articulofooter {/*SECCIONES FOOTER*/
        background-color: rgb(65, 64, 64);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        width: 300px;
        height: fit-content;
        padding: 20px;
        border: 2px solid rgb(48, 48, 48);
        margin: 2%;
}

.articulofooter a {/*POSICION ELEMENTOS DE LAS SECCIONES DEL FOOTER*/
        margin-left: 4%;
        color:black;
        transition: font-size 0.3s ease;
        font-size: 14px;
}

.articulofooter a:hover {/*ANIMACION ELEMENTOS DE LAS SECCIONES DEL FOOTER*/
        font-size: 1rem;
}

h6 {/*TITULOS DE LAS SECCIONES DE EL FOOTER*/
        font-family: South-Park;
        color: #a27b66;
        font-size: 18px;
}

figure {/*IMAGENES DE LAS REDES SOCIALES*/
        display: flex;
        justify-content: space-between;
        gap: 20px;
        align-items: center;
}

figure p {/*TEXTO AL LADO DE LAS IMAGENES DE LAS REDES SOCIALES*/
        font-size: 14px;
        font-family: South-Park;
        color: black;
}
.segundofooter {/*BARRA NEGRA DEL FINAL*/
        background-color: rgb(27, 27, 27);
        display: flex;
}

.segundofooter p {/*COLOR LETRAS DE LA BARRA NEGRA*/
        color: white;
}