
.contenedorderecho {
        transition: transform 0.3s ease;
}

.contenedorderecho img:hover {/*EFECTO IMG*/
        transition: 0.5s;
        transform: scale(1.03);
        border: 3px solid #c7b69f;
        border-radius: 3%;    
}

.titulomedio {
        margin-top: 2%;
}