h2{/*ESPACIO ENTRE TITULOS FUERA DE LA SECCION*/
    padding-bottom: 1.5%;
    padding-top: 1.5%;
}

main {
    flex: 1;
}

    .contenedor2personajes, .contenedor3dobladores, article {
    width: 100%;
    height: fit-content;
    }

.contenedorpersonajes article {/*SOBREESCRITURA DE ARTICULO*/
    border-radius: 5%;
    border: none;
}

.contenedor2personajes { /*MINIARTICULOS DENTRO DE LA SECCION PERSONAJES*/
    display: flex;
}

.contenedorpersonajes {/*ARREGLO BORDES SECCION*/
    border: 3px solid #5f3620 ;
    border-radius: 1.5%;
    background-color:#a27b66 ;
    padding: 1% 1% ;
}

.contenedor2personajes img {/*POSICION Y BORDES DE LAS IMAGENES DE LOS DOBLADORES*/
    transition: transform 0.4s ease;
}

.contenedor3dobladores {/*MINIARTICULOS DENTRO DE LA SECCION DOBLADORES*/
    display: flex;
}

.contenedor3dobladores img:hover {/*ANIMACION IMAGENES DE LOS DOBLADORES*/
    transition: 0.5s;
    border-radius: 8%;
    transform: scale(1.03);
    border: 3px solid #c7b69f;
}


@media screen and (max-width: 900px) { /*TABLET*/
    h2 { /*UBICACION TITULOS FUERA DE LOS CONTENEDORES*/
        margin: 0%;
        padding-top: 4%;
    }

    main {/*RESETEO DE MARGENES GENERAL*/
        margin-left: 5%;
        margin-right: 5%;
        flex: 1;
    }

    .contenedor2personajes, article {
    width: 100%;
    height: fit-content;
    }

    .contenedor2personajes {/*REUBICACION DEL CONTENIDO DE LOS CONTENEDORES DE LOS PERSONAJES*/
        display: flex;
        width: fit-content;
        align-items: center;
    }

    .contenedor3dobladores {/*REUBICACION DEL CONTENIDO DE LOS CONTENEDORES DE LOS DOBLADORES*/
        width: 800px;
        height: fit-content;
        display: flex;
        justify-content: space-between;
        gap: 5px;
        width: fit-content;
    }

    .contenedor2personajes img {
        height: 166px;
    }
}

@media screen and (max-width: 500px) { /*TELEFONO*/

    h3 {/*UBICACION TITULOS PERSONAJES*/
        text-align: start;
    }
    
    main {
        flex: 1;
    }

    .contenedor2personajes, article {
    width: 100%;
    height: fit-content;
    }

    .contenedorpersonajes {/*BORDES CONTENEDORES*/
        border-radius: 0%;
        display: flex;
        flex-direction: column;
    }


    .contenedorpersonajes img { /*TAMAÑO IMAGENES PERSONAJES*/
        height: 200px;
    }

    .contenedor3dobladores {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contenedor2personajes {/*REUBICACION DEL CONTENIDO DE LOS CONTENEDORES DE LOS PERSONAJES*/
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 100%;
    }

    .contenedor3dobladores img {/*TAMAÑO IMAGENES DOBLADORES*/
        height: 200px;
    }

    .articulofooter  {
        text-align: center;
    }
}

@media screen and (max-width: 300px) { /*TELEFONO 2*/ 

        article {
                width: fit-content;
        }

        main {
            flex: 1;
        }

        footer {
            max-width: 100%;
        }

        .articulofooter {
                width: fit-content;
                text-align: center;
        }

        .Logo {
                width: 150px;
        }

        .contenedorpersonajes img { /*TAMAÑO IMAGENES PERSONAJES*/
            height: 75px;
        }

        section {
            width: fit-content;
        }

}


