.p2 {/*SUBPARRAFOS*/
    margin-left: 2%;
    margin-right: 2%;
    font-size: 90%;
    width: fit-content;
}

main {
    flex: 1;
}

article, .seccioncreadores {
    width: 100%;
}

article img {
    width: fit-content;
}
.musica {
    text-align: center;
    padding-top: 2%;
}

.seccioncreadores {/*CONTENEDOR GRANDE CREADORES*/
    border: 3px solid #5f3620;
    background-color:#a27b66;
    border-radius: 1%;
}

.contenedorderecho img {
    width: 500px;
}

.seccioncreadores img {
    width: 200px;
}

@media screen and (max-width: 900px) { /*TABLET*/

    main {
        flex: 1;
    }

    section {
        margin-left: 5%;
        margin-right: 5%;
    }

    article, .seccioncreadores {
    width: fit-content;
    }

    article {
        margin-left: 3%;
        margin-right: 3%;
        padding-top: 1% ;
    }

    .contenedorderecho img {
        width: 500px;
    }

    .seccioncreadores {/*ARREGLO SECCION DE LOS CREADORES*/
        margin-left: 3%;
        margin-right: 3%;
    }

    .p2 {/*CAMBIO DE TAMAÑO TEXTO DE LOS CREADORES*/
        font-size: 95%;
    }

    h2 {
        margin-top: 1%;
    }

    .seccioncreadores img {
    width: 300px;
}

}

@media screen and (max-width: 500px) { /*TELEFONO*/

    main {
        flex: 1;
    }

    article, .seccioncreadores {
        width: fit-content;
    }

    article { /*BORDES ARTICULO ESCENARIO*/
        border-radius: 0%;
    }

    .seccioncreadores {/*BORDES ARTICULO CREADORES*/
        border-radius: 0%;
    }

    .contenedorizquierdo {
        margin-bottom: 3%;
    }

    .contenedorderecho {
        margin: 0;
    }
}

