.p2 {/*SUBPARRAFOS*/
    margin-left: 2%;
    margin-right: 2%;
    font-size: 90%;
    width: fit-content;
}

.musica {
    text-align: center;
    padding-top: 2%;
}

.seccioncreadores {/*CONTENEDOR GRANDE CREADORES*/
    border: 3px solid #5f3620;
    background-color:#a27b66;
    border-radius: 1%;
}