article {/*SOBREESCRITURA PADDING GENERAL PARA LA PAGINA*/
    padding: 1% 1%;
}

.contenedorgrande article {/*CAJA TEXTO ARRIBA D LAS TEMPORADAS*/
    border-radius: 0px;
    border: none;
    padding: 0%;
}

.contenedormini {/*COLUMNAS TEMPORADAS*/
    display: flex;
    height: fit-content;
}

.contenedormini article {/*CARACTERISTICAS TEXTO TEMPORADAS*/
    width: 433px;
    border: none;
    border-radius: 0px;
    text-align: center;
}

.contenedorimagen {/*CONTENEDOR BUTTERS*/
    padding-top: 3%;
    width: 1300px;
    border: none;
    border-radius: 0px;
    text-align: center;
    
}

.contenedorimagen img:hover {/*EFECTO OPACIDAD 0 PARA LA IMAGEN*/
    border: 3px solid #c7b69f;
    opacity: 0%;
    transition: 0.3;
    transform: scale(1.50);
}

.buttersestatico {/*JUNTE DE GIF CON IMAGEN*/
    position: absolute;
    background: white;
    border-radius: 6%;
    border: 3px solid #a27b66;
    
}

.buttersmov {/*BORDES IMG ESTATICA*/
    border-radius: 6%;
    border: 3px solid #c7b69f;
}