article {
    padding: 1% 1%;
}

.contenedorgrande article {
    border-radius: 0px;
    border: none;
}

.contenedormini {
    display: flex;
    height: fit-content;
}

.contenedormini article {
    width: 433px;
    border: none;
    border-radius: 0px;
    text-align: center;
}

.contenedorimagen {
    padding-top: 3%;
    width: 1300px;
    border: none;
    border-radius: 0px;
    text-align: center;
}

.contenedorimagen img:hover {
    transition: 0.4s;
    border-radius: 6%;
    transform: scale(1.03);
    border: 3px solid #c7b69f;
}