main {
    flex: 1;
}

article {/*SOBREESCRITURA PADDING GENERAL PARA LA PAGINA*/
    padding: 1% 1%;

}

.contenedorgrande article {/*CAJA TEXTO ARRIBA D LAS TEMPORADAS*/
    border-radius: 0px;
    border: none;
    padding: 0%;
    width: fit-content;
}

.contenedormini {/*COLUMNAS TEMPORADAS*/
    display: flex;
    width: fit-content;
}

.contenedorimagen {
    display: flex;
    flex-direction: column;
}

.contenedorimagen img {
    align-items: center;
}

.contenedormini article {/*CARACTERISTICAS TEXTO TEMPORADAS*/
    width: 433px;
    border: none;
    border-radius: 0px;
    text-align: center;
}

.contenedorimagen {/*CONTENEDOR BUTTERS*/
    padding-top: 3%;
    width: fit-content;
    border: none;
    border-radius: 0px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.contenedorimagen img:hover {/*EFECTO OPACIDAD 0 PARA LA IMAGEN*/
    border: 3px solid #c7b69f;
    opacity: 0%;
    transition: 0.3;
    transform: scale(1.50);
}

.buttersestatico {/*JUNTE DE GIF CON IMAGEN*/
    position: absolute;
    background: white;
    border-radius: 6%;
    border: 3px solid #a27b66;
}

.buttersmov {/*BORDES IMG ESTATICA*/
    border-radius: 6%;
    border: 3px solid #c7b69f;
}

@media screen and (max-width: 900px) { /*TABLET*/

    main { /*SETEO MARGENES TABLET*/
        margin-left: 5%;
        margin-right: 5%;
        flex: 1;
    }

    article {/*SETEO TAMAÑO TABLET PARA Q NO DESBORDE*/
        width: fit-content;
        margin: 0 auto;
    }

    .contenedorgrande { /*REUBICACION CONTENIDO MAIN (SIN LA FOTO)*/
        max-width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0%;
        padding: 0%;
    }

    .contenedorimagen {/*CONTENEDOR BUTTERS*/
        width: fit-content;
        max-width: 800px; 
        margin: 0 auto; 
        display: flex; 
        justify-content: center; 
        padding-top: 3%; 
    }

    .contenedormini article {/*CARACTERISTICAS TEXTO TEMPORADAS*/
        justify-content: space-evenly;
        margin-bottom: 5%;
        padding: 2%;
        width: fit-content;
    }

    article p {/*ESPACIO ENTRE LAS TEMPORADAS*/
        margin-bottom: 1%;
    }

    h2 { /*UBICACION TITULOS FUERA DE LOS CONTENEDORES*/
        margin: 0%;
        padding-top: 4%;
    }

    .contenedorderecho { /*ESPACIO ENTRE LA ULTIMA FT CON EL TEXTO DE ARRIBA*/
        margin-top: 2%;
    }

}

@media screen and (max-width: 500px) { /*TELEFONO*/ 

    main {
        flex: 1;
    }

    article {/*BORDES*/ 
        border-radius: 0%;
        width: 100%;
    }

    .buttersestatico {/*AJUSTE BUTTERS 1*/ 
        height: 300px;
    }

    .buttersmov {/*AJUSTE BUTTERS 2*/ 
        height: 300px;
    }
    
    .articulofooter {/*TEXTO DE LOS CONTENEDORES DEL FOOTER CENTRADOS*/ 
        text-align: center;
    }
}